@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}
.homepage_bg {
  /* background-image: url("./assets/bghome.png"); */
  background-size: cover;
  background-position: center;
}
/* .inputStyle {
  @apply bg-richblack-700 text-white px-4 py-3 rounded-lg
         outline-none focus:ring-2 focus:ring-yellow-400
         placeholder-richblack-300;
} */
/* FIX FOR PASSWORD / AUTOFILL INPUT TEXT VISIBILITY */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 1000px #1e293b inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.92);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper-slide {
  height: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #161d29;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #ffd60a;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #ffcc00;
}